body {
  margin: 0;
  background: url('../images/ErroPage.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: background-image 0.5s ease-in-out;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  color: white;
}
.mensagem {
<<<<<<< HEAD
  background-color: rgba(0, 0, 0, 0.6);
=======
  background-color: rgba(0, 0, 0, 0.6); /* fundo preto transparente */
>>>>>>> c8a1dc9fc2d1a9653a171a92428aa356d47a9384
  padding: 20px 40px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  font-size: 1.8rem;
  max-width: 90%;
}
  