* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: 
      linear-gradient(rgba(0, 0, 0, 0.47), rgba(0, 0, 0, 0.47)), /* Camada de cor transparente */
      url('../images/rio-1303951_1280.jpg'); /* Imagem de fundo */
    background-size: cover; /* A imagem cobre o elemento */
    background-repeat: no-repeat; /* Sem repetição da imagem */
    background-position: center; /* Centraliza a imagem */
  }

.container{
  padding: 0px 30px ;
  margin-top: 10px;
}

ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding: 16px;
  font-family: "Courier New", Courier, monospace;
}

a{
  color: white;
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: center;
  gap: 20px; /* Usando gap para definir espaçamento */
  padding: 20px 0; /* Espaçamento extra ao redor */
}


footer a{
  margin: 10px;
  text-align: center;
}

footer a p{
  margin: 10px;
}

footer img{
  width: 50px;
  height: 50px;
}

nav a {
  font-size: 20px;
  padding: 5px 10px; /* Adiciona espaço em torno do link */
}

nav a:hover {
  color: #e5b90b;
  background-color: rgba(90, 0, 0, 0.2); /* Efeito de fundo no hover */
  border-radius: 5px; /* Deixa o hover mais suave */
}

header h1{
  margin-top: 60px;
  margin-bottom: 10px;
  color: #66ff00;
  -webkit-text-stroke: 0.4px #000000; /* Largura e cor do contorno */
}

header h2{
  color: white;
  -webkit-text-stroke: 0.4px #000000; /* Largura e cor do contorno */
}

hr {
  margin: 5px 0 5px 0;
  border: solid 1px rgb(0, 187, 255);
}

section{
  margin: 40px 0 40px 0;
}

section p:hover {
  background-color: rgba(90, 0, 0, 0.2);
}

.container-foto {
  width: 190px;
  height: 190px;
  perspective: 1000px;
  margin: 50px auto;
}

.foto-flip {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #e5b90b;
}

.container-foto:hover .foto-flip,
.foto-flip.girar {
  transform: rotateY(180deg);
}

.foto-frente,
.foto-tras {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 50%;
  overflow: hidden;
}

.foto-tras {
  transform: rotateY(180deg);
}

.foto-frente img,
.foto-tras img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
