body{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: 
      linear-gradient(rgba(0, 0, 0, 0.47), rgba(0, 0, 0, 0.47)), /* Camada de cor transparente */
      url('../images/rio-1303951_1280.jpg'); /* Imagem de fundo */
    background-size: cover; /* A imagem cobre o elemento */
    background-repeat: no-repeat; /* Sem repetição da imagem */
    background-position: center; /* Centraliza a imagem */
  }

.container{
  padding: 0px 30px ;
}

ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding: 16px;
  font-family: "Courier New", Courier, monospace;
}

a{
  color: white;
  text-decoration: none;
}

.center img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #e5b90b;
}

.center{
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  gap: 20px; /* Usando gap para definir espaçamento */
  padding: 20px 0; /* Espaçamento extra ao redor */
}


footer a{
  margin: 10px;
  text-align: center;
}

footer a p{
  margin: 10px;
}

footer img{
  width: 50px;
  height: 50px;
}

nav a {
  font-size: 20px;
  padding: 5px 10px; /* Adiciona espaço em torno do link */
}

nav a:hover {
  color: #e5b90b;
  background-color: rgba(90, 0, 0, 0.2); /* Efeito de fundo no hover */
  border-radius: 5px; /* Deixa o hover mais suave */
}

header h1{
  color: #e5b90b;
  -webkit-text-stroke: 0.2px #000000; /* Largura e cor do contorno */
}

header h2{
  color: white;
  -webkit-text-stroke: 0.5px #e5b90b; /* Largura e cor do contorno */
}

